@import "tailwindcss";


@font-face {
  font-family: "pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../static/font/PretendardVariable.woff2") format("woff2-variations");
}

/* 3. 스크롤바 커스터마이징 */
.books-container {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: thin;
  /* Firefox */
}

.books-container::-webkit-scrollbar {
  height: 6px;
  /* 수평 스크롤 높이 */
}

.books-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.books-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.books-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* GatheringCreatePage 전용 공통 CSS - 이성종*/
.gathering-input {
  @apply w-full border border-purple-300 focus:border-purple-500 focus:ring-1 focus:ring-purple-300
         rounded-lg px-4 py-2 transition duration-200 outline-none
         placeholder:text-sm placeholder:text-gray-400 bg-white;
}

.gathering-textarea {
  @apply w-full border border-purple-300 focus:border-purple-500 focus:ring-1 focus:ring-purple-300
         rounded-lg px-4 py-3 transition duration-200 outline-none
         placeholder:text-sm placeholder:text-gray-400 bg-white min-h-[400px];
}

.gathering-date {
  @apply w-full border border-purple-300 focus:border-purple-500 focus:ring-1 focus:ring-purple-300
         rounded-lg px-4 py-2 transition duration-200 outline-none
         placeholder:text-sm placeholder:text-gray-400 bg-white;
}